@page "/"

<PageTitle>Index</PageTitle>
<div align="center">
    <h1>FITNESS CENTER</h1>
    <h3>BIENVENIDOS</h3>
    <br/>
</div>


<div class="row">
    <div class="col-12"></div>
    <img src="inicio.png" class="img-fluid" />
</div>



