@page "/"

<PageTitle>Index</PageTitle>
<div align="center">
    <h1>FITNESS CENTER</h1>
    <br/>

</div>


@*<div class="row">
    <div class="col-12"></div>
    <img src="~/gym.jpg" class="img-fluid" />
</div>
*@


